/* You can add global styles to this file, and also import other style files */
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: grey;
    height: 1rem;
  }